<a href="https://colab.research.google.com/github/algoexpert2468/sklearn/blob/main/sklearn_part%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/gdrive')
heart=pd.read_csv('/content/gdrive/MyDrive/heart.csv')
heart.head(10)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [ ]:
x=heart.drop("target",axis=1)
y=heart["target"]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

RandomForestClassifier()

In [ ]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
y_label=clf.predict(np.array([0,2,4,6]))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [ ]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
518,49,1,2,120,188,0,1,139,0,2.0,1,3,3
915,46,1,0,120,249,0,0,144,0,0.8,2,0,3
506,61,1,0,120,260,0,1,140,1,3.6,1,1,3
720,64,1,2,140,335,0,1,158,0,0.0,2,0,2
698,66,1,0,112,212,0,0,132,1,0.1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,68,1,2,118,277,0,1,151,0,1.0,2,1,3
294,56,0,0,200,288,1,0,133,1,4.0,0,2,3
850,58,1,1,120,284,0,0,160,0,1.8,1,0,2
486,41,1,0,110,172,0,0,158,0,0.0,2,0,3
715,70,1,1,156,245,0,0,143,0,0.0,2,0,2

In [ ]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
910,50,1,2,140,233,0,1,163,0,0.6,1,1,3
437,67,1,0,120,229,0,0,129,1,2.6,1,2,3
176,56,1,0,130,283,1,0,103,1,1.6,0,0,3
450,63,0,0,150,407,0,0,154,0,4.0,1,3,3
954,53,0,0,130,264,0,0,143,0,0.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,55,1,0,140,217,0,1,111,1,5.6,0,0,3
362,43,0,2,122,213,0,1,165,0,0.2,1,0,2
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2
250,47,1,0,110,275,0,0,118,1,1.0,1,1,2
944,66,0,0,178,228,1,1,165,1,1.0,1,2,3

In [ ]:
y_pred=clf.predict(x_test)
y_pred

array([0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0])

In [ ]:
y_test

910    0
437    0
176    0
450    0
954    1
      ..
833    0
362    1
16     1
250    0
944    0
Name: target, Length: 205, dtype: int64

In [ ]:
clf.score(x_train,y_train)

1.0

In [ ]:
clf.score(x_test,y_test)

0.9853658536585366

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98        83
           1       1.00      0.98      0.99       122

    accuracy                           0.99       205
   macro avg       0.98      0.99      0.98       205
weighted avg       0.99      0.99      0.99       205

In [ ]:
confusion_matrix(y_test,y_pred)

array([[ 83,   0],
       [  3, 119]])

In [ ]:
accuracy_score(y_test,y_pred)

0.9853658536585366

In [ ]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model with {i} estimators")
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"model accuracy on test set:{clf.score(x_test,y_test)*100:.2f}%")
    print("")

trying model with 10 estimators
model accuracy on test set:98.54%

trying model with 20 estimators
model accuracy on test set:98.54%

trying model with 30 estimators
model accuracy on test set:98.54%

trying model with 40 estimators
model accuracy on test set:98.54%

trying model with 50 estimators
model accuracy on test set:98.54%

trying model with 60 estimators
model accuracy on test set:98.54%

trying model with 70 estimators
model accuracy on test set:98.54%

trying model with 80 estimators
model accuracy on test set:98.54%

trying model with 90 estimators
model accuracy on test set:98.54%

In [ ]:
import pickle 
pickle.dump(clf,open("random_forest_model1.pkl","wb"))

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/gdrive')
heart=pd.read_csv('/content/gdrive/MyDrive/heart.csv')
heart.head(10)

Mounted at /content/gdrive

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [2]:
x=heart.drop("target",axis=1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [3]:
y=heart["target"]
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)